<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-vakken">
  <template>
    <style>
      :host {
        display: block;
      }

      span {
        @apply(--paper-font-body1);
      }
    </style>

    <h1 class="page-title">Overzicht van mijn vakken ( {{username}} )</h1>
    <table>
      <tr>
        <th>Vakcode</th>
      </tr>
      <template is="dom-repeat" items="{{vakken}}">
        <tr>
          <td><a href$="{{baseUrl}}toonvakken/{{item.vaknaam}}" >{{item.vaknaam}} <!-- {{item.TCIF-V1AUI-15}} --></a></td>
        </tr>
      </template>
    </table>


  	<iron-ajax
      id="ajax"
      method="POST"
  		url="/docent/mijnvakken"
      handle-as="json"
  		on-response="responseHandler">
    </iron-ajax>

  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'my-vakken',

        properties: {
          username: String,
          leerlingen: {
              type: Array,
              notify: true
          },
          rol: {
            observer: 'fetchVakken'
          }
        },
		ready: function(){
			//this.leerlingen =[];
		},
        responseHandler: function(request) {
        	this.vakken = request.detail.response;
        	var vaknamen = [];
        	var l = [];
        	for(var x in request.detail.response){
        		if(request.detail.response[x]["vaknaam"] != null){
        			vaknamen.push(request.detail.response[x]["vaknaam"])
        		}
        	}
        	/* for(var x in request.detail.response){
        		for(var i in vaknamen){
        			if(request.detail.response[x][vaknamen[i]] != null){
        				//this.leerlingen.push(request.detail.response[x][vaknamen[i]]);
        			}
        		}
        	} */	
        },

        fetchVakken: function() {
          console.log("FetchVakken user="+this.username);
          if (this.rol == "docent") {
            this.$.ajax.contentType="application/json";
            this.$.ajax.body={
              "username":this.username
            };
            this.$.ajax.generateRequest();
          }
        }

      });
    })();
  </script>
</dom-module>
