<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/google-chart/google-chart.html">

<dom-module id="my-statistieken">
<template>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
// Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});
	// Set a callback to run when the Google Visualization API is loaded.
	google.charts.setOnLoadCallback(drawChart);

// Callback that creates and populates a data table,
// instantiates the pie chart, passes in the data and
// draws it.
function drawChart() {

  // Create the data table.
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Topping');
  data.addColumn('number', 'Slices');
  data.addRows([
    ['Mushrooms', 3],
    ['Onions', 1],
    ['Olives', 1],
    ['Zucchini', 1],
    ['Pepperoni', 2]
  ]);

  // Set chart options
  var options = {'title':'How Much Pizza I Ate Last Night',
                 'width':400,
                 'height':300};

  // Instantiate and draw our chart, passing in some options.
  var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
  chart.draw(data, options);
}
    </script>
<iron-ajax
	      id="ajax"
	      method="POST"
	  		url="/docent/statistieken"
	      handle-as="json"
	  		on-response="responseHandler">
	</iron-ajax>
	
	<!-- <google-chart
	  type='bar'
	  options='{"title": "Distribution of days in 2001Q1"}'
	  cols='[ {"label":"Datum", "type":"string"}, {"label":"Percentage", "type":"number"} ]'
	  rows='[ ["Jan", 31],["Feb", 28],["Mar", 31] ]'>
	</google-chart> -->
	<div id="myPieChart"/>
	<div id="chart_div"></div>
	</template>
	
	<script>
	Polymer({
   		is: "my-statistieken",
	getData: function(){
		this.$.ajax.contentType="application/json"; 
		this.$.ajax.body={
			"username":this.username
	    };
		this.$.ajax.generateRequest();
	},
	responseHandler: function(request){
		var response = request.detail.response.presentie;
		
		
		var data = new google.charts.visualization.DataTable();		
		var pr = response.split("\n");
		var presentiePerDag = []
		for(var x in pr){
			presentiePerDag.push([pr[x].split(":")[0], Number(pr[x].split(":")[1])]);
		}
		//console.log(presentiePerDag);
		data.addColumn('string', 'dag');
        data.addColumn('number', 'percentage');
        for(var x in presentiePerDag){
        	data.addRows([presentiePerDag[x]]);
        }
		  var options = {
	          chart: {
	            title: 'Statistiek presentie',
	            subtitle: 'percentage aanwezige leerlingen per dag',
	          },
	          bars: 'vertical' // Required for Material Bar Charts.
	        };
		// Instantiate and draw the chart.
		var chart = new google.charts.Bar(document.getElementById('myPieChart'));
		chart.draw(data, options);
	}, 
	ready: function() {
		//this.getData();
    }
	});
   	</script>
</dom-module>