<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">


<dom-module id="my-statistieken">
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    // Load the Visualization API and the corechart package.
    var lijst = [];
    var chart;
  </script>
	<template>	
		<iron-ajax
	      id="ajax"
	      method="POST"
	  		url="/docent/statistieken"
	      handle-as="json"
	  		on-response="responseHandler">
		</iron-ajax>
		<paper-button on-click="refresh" id="">Refresh</paper-button>
	     <div id="chart_div"></div>
	    
	</template>
	<script>
		  Polymer({
		    is: "my-statistieken",
		    
		    getData: function(){
		    	this.$.ajax.contentType="application/json"; 
				this.$.ajax.body={
					"username":this.username
			    };
				this.$.ajax.generateRequest();
		    },
		    responseHandler: function(request){
		    	lijst =[];
				var response = request.detail.response.presentie;
				var pr = response.split("\n");
				var presentiePerDag = []
				for(var x in pr){
					lijst.push([(pr[x].split(":")[0]).substring(0, pr[x].split(":")[0].indexOf("2016")-1), Number(pr[x].split(":")[1])]);
				}
		    }, 
		    laadGegevens: function(){
		    	this.getData();
		     	google.charts.load('current', {'packages':['corechart']});
		        google.charts.setOnLoadCallback(drawChart);
		        function drawChart() {
		          // Create the data table.
		          var data = new google.visualization.DataTable();
		          data.addColumn('string', 'dag');
		          data.addColumn('number', 'percentage');
		          for(var x in lijst){
		          	data.addRows([lijst[x]]);
		          } 
		          
		          var options = {
		        		  'title':'percentage aanwezige leerlingen per dag',
		        		  vAxis: { 
		                      format: 'percent',
		                      viewWindowMode:'explicit',
		                      width: 800,
		                      viewWindow:{
		                        max:1,
		                        min:0
		                      },
		                      xAxis: { 
		                          direction: -1, 
		                          slantedText: true, 
		                          slantedTextAngle: 90 // here you can even use 180 
		                      }
	                               
		        		}
		          }

		          // Instantiate and draw our chart, passing in some options.
		          chart =  new google.visualization.ColumnChart(document.getElementById('chart_div'));
		          chart.draw(data, options);		          
		        }
		    },
		    refresh : function(){
		    	this.getData();
		    	
		    	//var chart2 = document.getElementById('chart_div');
		    	chart.clearChart(); 
		    	var data = new google.visualization.DataTable();
		    	data.addColumn('string', 'dag');
		        data.addColumn('number', 'percentage');
		        for(var x in lijst){
		          	data.addRows([lijst[x]]);
		        }
		    	var options = {
		        		  'title':'percentage aanwezige leerlingen per dag',
		        		  vAxis: { 
		                      format: 'percent',
		                      viewWindowMode:'explicit',
		                      width: 800,
		                      viewWindow:{
		                        max:1,
		                        min:0
		                      },
		                      xAxis: { 
		                          direction: -1, 
		                          slantedText: true, 
		                          slantedTextAngle: 90 // here you can even use 180 
		                      }
	                               
		        		}
		          }
		    	chart.draw(data, options);
		    },
		    ready: function(){
		    	this.laadGegevens();
		    }
		  });
	</script>
</dom-module>