<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-presentie-aanpassen">
  <template>
    <style>
      :host {
        display: block;
      }

      span {
        @apply(--paper-font-body1);
      }
    </style>

    <h1 class="page-title">Overzicht van Presentie</h1>
     <table>
      <tr>
        <th>Naam</th>
        <th>Present</th>
      </tr>
    </table>

  	<iron-ajax
      id="ajax"
      method="POST"
  		url="/docent/presentie"
      handle-as="json"
  		on-response="responseHandler">
    </iron-ajax>

  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'my-presentie-aanpassen',

        properties: {
            student: {
            type: String,
            notify: true,
            observer: 'editPresentie'
          }
        },
        ready: function(){
          this.editPresentie();
        },
        responseHandler: function(request) {
          console.log(request.detail.response);
          this.studenten = request.detail.response;
        },

        editPresentie: function() {
          console.log("FetchVakken user="+this.student);
          if (this.rol == "docent") {
            this.$.ajax.contentType="application/json";
            this.$.ajax.body={
              "username":this.student,
              "edit":"true"
            };
            this.$.ajax.generateRequest();
          }
        }

      });
    })();
  </script>
</dom-module>
