<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-presentie">
  <template>
    <style>
      :host {
        display: block;
      }

      span {
        @apply(--paper-font-body1);
      }
    </style>

    <h1 class="page-title">Overzicht van Presentie</h1>
     <table>
      <tr>
        <th>Naam</th>
        <th>Present</th>
        <th>Aanwezig?</th>
      </tr>
      <template is="dom-repeat" items="{{studenten}}">
        <tr>
          <td><a href$="{{baseUrl}}presentie/{{item.student}}">{{item.student}}</td>
          <td>{{item.present}}</td>
          <td><paper-checkbox id="{{item.student}}" checked={{item.present}}>Ja</paper-checkbox></td>
        </tr>
      </template>
      
    </table>
    <paper-button on-click="presentieOpslaan">Opslaan</paper-button>

  	<iron-ajax
      id="ajaxopslaan"
      method="POST"
  		url="/docent/presentieOpslaan"
      handle-as="json"
  		on-response="responseHandler">
    </iron-ajax>
    <iron-ajax
      id="ajax"
      method="POST"
  		url="/docent/presentie"
      handle-as="json"
  		on-response="responseHandler">
    </iron-ajax>

  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'my-presentie',

        properties: {
          username: String,
          rol: {
            observer: 'fetchPresentie'
          }
        },
        responseHandler: function(request) {
          console.log(request.detail.response);
          this.studenten = request.detail.response;
        },
        
        presentieOpslaan: function(){
        	var cbs = document.getElementsByTagName('paper-checkbox');
        	var presentie = [];
        	for(var x in cbs){
        		if(cbs[x].id != null){
	        		presentie.push({key: cbs[x].id,
	        						value: cbs[x].checked});
	        	}
        	}
        	this.$.ajaxopslaan.contentType="application/json"; 
   			this.$.ajaxopslaan.body={
   				"presentielijst":presentie,
           		"username":this.username
   		    };
   			this.$.ajaxopslaan.generateRequest();
        },

        fetchPresentie: function() {
          console.log("FetchVakken user="+this.username);
          if (this.rol == "docent") {
            this.$.ajax.contentType="application/json";
            this.$.ajax.body={
              "username":this.username, 
              "edit":"false"
            };
            this.$.ajax.generateRequest();
          }
        }

      });
    })();
  </script>
</dom-module>
