<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">

<dom-module id="my-beter-melding">
  <template>
    <style>
      :host {
        display: block;
      }

      span {
        @apply(--paper-font-body1);
      }
      paper-input {
        max-width: 200px;
      }
      .yellow-button {
        text-transform: none;
        color: #eeff41;
      }
    </style>
    <paper-toast id="toast_success" duration="0" text="Je bent succesvol beter gemeld!">
      <paper-button onclick="toast_success.toggle()" class="yellow-button">Sluiten</paper-button>
    </paper-toast>

  
    <div >
    <h1>student: {{username}}</h1>
        <p hidden$="{{hide2}}">Je bent niet ziek gemeld</p>
  			<paper-button on-click="buttonHandler" hidden$="{{hide}}">Beter melden</paper-button>
  	</div>

  	<iron-ajax
      id="ajax"
      method="POST"
  		url="/student/betermelding"
      handle-as="json"
  		on-response="handleAfmeld">
    </iron-ajax>

  </template>

  <script>
    (function() {
      'use strict';
      Polymer({
        is: 'my-beter-melding',

        properties: {
          username: String,
          rol: {
          observer: 'afmeldHandler'
          },
          button: {
            type: String,
            notify: true,
            value: "0"
          }
        },
        buttonHandler: function(){
          this.button = "1";
          this.afmeldHandler();
        },
        afmeldHandler: function() {
          if (this.rol == "student") {
            this.$.ajax.contentType="application/json";
            this.$.ajax.body={
              "username":this.username,
              "button":this.button
            };
            this.$.ajax.generateRequest();
          }
        },

        handleAfmeld: function(request) {
          this.success = request.detail.response.success;
          if(this.success == 2){
             this.hide = false;
             this.hide2 = true;
          }else{
            this.hide = true;
            this.hide2 = false;
          }
          
        }
      });
    })();
  </script>
</dom-module>
