
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="my-rooster">
	<template>
   		<paper-button on-click="vandaagHandler">Vandaag</paper-button>
   		<paper-button on-click="weekHandler">Deze Week</paper-button>
   		<paper-button on-click="maandHandler" >Deze Maand</paper-button>
   		<paper-button onClick="window.print()">Print</paper-button>
   		<table id="lessen">
   		</table>
   		<iron-ajax
	      id="ajax"
	      method="POST"
	  		url="/student/getLessen"
	      handle-as="json"
	  		on-response="responseHandler">
	    </iron-ajax>
	    <iron-ajax
	      id="docentajax"
	      method="POST"
	  		url="/docent/rooster"
	      handle-as="json"
	  		on-response="docentResponseHandler">
	    </iron-ajax>
   	</template>
   	<script>
   	Polymer({
   		is: "my-rooster",
   		
   		properties: {
            username: String,
            rol: String
   		},
   		
   		vandaagHandler: function(){
   			console.log('test');
   			if(this.rol == "student"){
	   			this.$.ajax.contentType="application/json"; 
	   			this.$.ajax.body={
	   				"username":this.username,
	           		"wanneer":"vandaag"
	   		    };
	   			this.$.ajax.generateRequest();
   			} else if(this.rol == "docent"){
   				this.$.docentajax.contentType="application/json"; 
	   			this.$.docentajax.body={
	   				"username":this.username,
	           		"wanneer":"vandaag"
	   		    };
	   			this.$.docentajax.generateRequest();
   			}
   		},
   		weekHandler: function(){
   			if(this.rol == "student"){
	   			this.$.ajax.contentType="application/json"; 
	   			this.$.ajax.body={
	   				"username":this.username,
	           		"wanneer":"week"
	   		    };
	   			this.$.ajax.generateRequest();
   			} else if(this.rol == "docent"){
   				this.$.docentajax.contentType="application/json"; 
	   			this.$.docentajax.body={
	   				"username":this.username,
	           		"wanneer":"week"
	   		    };
	   			this.$.docentajax.generateRequest();
   			}
   		},
   		maandHandler: function(){
   			if(this.rol == "student"){
	   			this.$.ajax.contentType="application/json"; 
	   			this.$.ajax.body={
	   				"username":this.username,
	           		"wanneer":"maand"
	   		    };
	   			this.$.ajax.generateRequest();
   			} else if(this.rol == "docent"){
   				this.$.docentajax.contentType="application/json"; 
	   			this.$.docentajax.body={
	   				"username":this.username,
	           		"wanneer":"maand"
	   		    };
	   			this.$.docentajax.generateRequest();
   			}
   		},
   		responseHandler: function(request){
   			var table = document.getElementById("lessen");
   			table.innerHTML= "";
   			var header = table.createTHead();
   		    var row = header.insertRow(0);
   		 	var datum = row.insertCell().innerHTML = "<b>Datum</b>";
			var start = row.insertCell().innerHTML = "<b>Van</b>";
			var eind = row.insertCell().innerHTML = "<b>Tot</b>";
			var vakcode = row.insertCell().innerHTML = "<b>Vakcode</b>";
			var docent = row.insertCell().innerHTML = "<b>Docent</b>";
			var lokaal = row.insertCell().innerHTML = "<b>Lokaal</b>";
			var klas = row.insertCell().innerHTML = "<b>Klas</b>";
   		    
   			var response = request.detail.response.lessen;
   			var lessen = [];
   			var a = response.split("\n");
   			for(var x in a){
   				lessen.push(a[x]);
   			}
   			for(var x in lessen){
   				var les = lessen[x];
   				var lesinfo = les.split(",");
   				if(lesinfo[0].length > 1){
					var row = table.insertRow();
					var datum = row.insertCell().innerHTML = lesinfo[0].replace("[", "");
					var start = row.insertCell().innerHTML = lesinfo[1];
					var eind = row.insertCell().innerHTML = lesinfo[2];
					var vakcode = row.insertCell().innerHTML = lesinfo[3];
					var docent = row.insertCell().innerHTML = lesinfo[4];
					var lokaal = row.insertCell().innerHTML = lesinfo[5];
					var klas = row.insertCell().innerHTML = lesinfo[6].replace("]", "");
   				}
   			}
   		},
   		docentResponseHandler: function(request){
   			var table = document.getElementById("lessen");
   			table.innerHTML= "";
   			var header = table.createTHead();
   		    var row = header.insertRow(0);
   		 	var vak = row.insertCell().innerHTML = "<b>Vak</b>";
   		 	var datum = row.insertCell().innerHTML = "<b>Dag</b>";
			var start = row.insertCell().innerHTML = "<b>Start tijd</b>";
			var eind = row.insertCell().innerHTML = "<b>Eind</b>";   		    
   			var response = request.detail.response.lessen;
   			var lessen = [];
   			var a = response.split("\n");
   			for(var x in a){
   				lessen.push(a[x]);
   			}
   			for(var x in lessen){
   				var les = lessen[x];
   				var lesinfo = les.split(",");
   				if(lesinfo[0].length > 1){
					var row = table.insertRow();
					var vak = row.insertCell().innerHTML = lesinfo[0];
					var datum = row.insertCell().innerHTML=  lesinfo[1];
					var start = row.insertCell().innerHTML = lesinfo[2];
					var eind = row.insertCell().innerHTML = lesinfo[3];
   				}
   			}
   		}
   	
   	});
	</script>

      
</dom-module>   
