<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<script src="../bower_components/page/page.js"></script>
<script>
  window.addEventListener('WebComponentsReady', function() {

    // We use Page.js for routing. This is a Micro
    // client-side router inspired by the Express router
    // More info: https://visionmedia.github.io/page.js/

    // Removes end / from app.baseUrl which page.base requires for production
    if (window.location.port === '') {  // if production
      page.base(app.baseUrl.replace(/\/$/, ''));
    }

    // Middleware
    function scrollToTop(ctx, next) {
      app.scrollPageToTop();
      next();
    }

    function closeDrawer(ctx, next) {
      app.closeDrawer();
      next();
    }

    // Routes
    page('*', scrollToTop, closeDrawer, function(ctx, next) {
      next();
    });

    page('/', function() {
      app.route = 'home';
    });

    page(app.baseUrl, function() {
      app.route = 'home';
    });

    page('/users/:name', function(data) {
      app.route = 'user-info';
      app.params = data.params;
    });

    page('/inloggen', function() {
      app.route = 'inloggen';
    });

    page('/afmelden', function() {
      app.route = 'afmelden';
    });

    page('/uitloggen', function() {
      app.route = 'uitloggen';
    });
    
    page('/rooster', function(){
    	app.route = 'rooster';
    });

    page('/toonvakken', function() {
      app.route = 'toonvakken';
    });

    page('/presentie', function() {
      app.route = 'presentie';
    });
    page('/presentie/:user', function(data) {
      app.route = 'user-presentie';
      app.params = data.params;
    });
    page('/toonabsenties', function() {
        app.route = 'toonabsenties';
      });
    page('/toonvakken/:name', function(data) {
        app.route = 'vak-info';
        app.params = data.params;
      });
    page('/users', function() {
      app.route = 'toonmedestudenten';
    });
    
    page('/beter-melden', function() {
      app.route = 'beter-melden';
    });
    
    page('/statistieken', function() {
        app.route = 'statistieken';
    });

    // 404
    page('*', function() {
      app.$.toast.text = 'Can\'t find: ' + window.location.href  + '. Redirected you to Home Page';
      app.$.toast.show();
      page.redirect(app.baseUrl);
    });

    // add #! before urls
    page({
      hashbang: true
    });

  });
</script>
