<!doctype html>
<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Presentie informatie systeem">
  <title>Presentie informatie systeem</title>

  <!-- Place favicon.ico in the `app/` directory -->

  <!-- Chrome for Android theme color -->
  <meta name="theme-color" content="#00a1e1">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="manifest.json">

  <!-- Tile color for Win8 -->
  <meta name="msapplication-TileColor" content="#00a1e1">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="PSK">
  <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Polymer Starter Kit">
  <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

  <!-- Tile icon for Win8 (144x144) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild-->

  <!-- build:js bower_components/webcomponentsjs/webcomponents-lite.min.js -->
  <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <!-- endbuild -->

  <!-- Because this project uses vulcanize this should be your only html import
       in this file. All other imports should go in elements.html -->
  <link rel="import" href="elements/elements.html">

  <!-- For shared styles, shared-styles.html import in elements.html -->
  <style is="custom-style" include="shared-styles"></style>
</head>

<body unresolved>
  <span id="browser-sync-binding"></span>
  <template is="dom-bind" id="app">

    <paper-drawer-panel id="paperDrawerPanel">
      <!-- Drawer Scroll Header Panel -->
      <paper-scroll-header-panel drawer fixed>

        <!-- Drawer Toolbar -->
        <paper-toolbar id="drawerToolbar">
          <span class="menu-name">PRIS Menu</span>
        </paper-toolbar>

        <!-- Drawer Content -->
        <paper-menu attr-for-selected="data-route" selected="[[route]]">
          <a data-route="home" href="{{baseUrl}}">
            <iron-icon icon="home"></iron-icon>
            <span>Home</span>
          </a>

          <a data-route="inloggen" href="{{baseUrl}}inloggen" hidden="{{loggedin}}">
            <iron-icon icon="account-box"></iron-icon>
            <span>Inloggen</span>
          </a>
          
          <a data-route="rooster" href="{{baseUrl}}rooster" hidden="{{!loggedin}}">
          	<iron-icon icon="schedule"></iron-icon>
          	<span>Rooster</span>
          </a>

          <a data-route="toonvakken" href="{{baseUrl}}toonvakken" hidden="{{!roldocent}}">
            <iron-icon icon="social:school"></iron-icon>
            <span>Toon vakken</span>
          </a>
          
          <a data-route="statistieken" href="{{baseUrl}}statistieken" hidden="{{!roldocent}}">
            <iron-icon icon="editor:insert-chart"></iron-icon>
            <span>Statistieken</span>
          </a>

          <a data-route="presentie" href="{{baseUrl}}presentie" hidden="{{!roldocent}}">
            <iron-icon icon="verified-user"></iron-icon>
            <span>Presentie bijwerken</span>
          </a>

          <a data-route="toonmedestudenten" href="{{baseUrl}}users" hidden="{{!rolstudent}}">
            <iron-icon icon="social:group"></iron-icon>
            <span>Toon medestudenten</span>
          </a>
           
          <a data-route="toonabsenties" href="{{baseUrl}}toonabsenties" hidden="{{!rolstudent}}">
            <iron-icon icon="social:group"></iron-icon>
            <span>Toon absentie</span>
          </a>

          <a data-route="afmelden" href="{{baseUrl}}afmelden" hidden="{{!rolstudent}}">
            <iron-icon icon="icons:close"></iron-icon>
            <span>Absent melden</span>
          </a>

          <a data-route="beter-melden" href="{{baseUrl}}beter-melden" hidden="{{!rolstudent}}">
            <iron-icon icon="icons:check"></iron-icon>
            <span>Beter melden</span>
          </a>

          <a data-route="uitloggen" href="{{baseUrl}}uitloggen" hidden="{{!loggedin}}">
            <iron-icon icon="account-box"></iron-icon>
            <span>Uitloggen</span>
          </a>


        </paper-menu>
      </paper-scroll-header-panel>

      <!-- Main Area -->
      <paper-scroll-header-panel main id="headerPanelMain" condenses keep-condensed-header>
        <!-- Main Toolbar -->
        <paper-toolbar id="mainToolbar" class="tall">
          <paper-icon-button id="paperToggle" icon="menu" paper-drawer-toggle></paper-icon-button>

          <span class="space"></span>

          <!-- Toolbar icons -->
          <paper-icon-button icon="refresh"></paper-icon-button>
          <paper-icon-button icon="search"></paper-icon-button>

          <!-- Application name -->
          <div class="middle middle-container">
            <div class="app-name">PRIS</div>
          </div>

          <!-- Application sub title -->
          <div class="bottom bottom-container">
            <div class="bottom-title">HU Presentie Informatie Systeem</div>
          </div>
        </paper-toolbar>

        <!-- Main Content -->
        <div class="content">
          <iron-pages attr-for-selected="data-route" selected="{{route}}">
            <section data-route="home">
              <paper-material elevation="1">
                <p>Proof of concept van het PRIS.</p>
                <p></p>
              </paper-material>
            </section>

            <section data-route="inloggen">
              <paper-material elevation="1">
                <my-login username="{{username}}" rol="{{rol}}" loggedin="{{loggedin}}" roldocent="{{roldocent}}" rolstudent="{{rolstudent}}"></my-login>
              </paper-material>
            </section>

            <section data-route="uitloggen" loggedin="{{loggedin}}">
              <paper-material elevation="1">
                <my-logout rol="{{rol}}"></my-logout>
              </paper-material>
            </section>
            
            <section data-route="rooster">
            	<paper-meterial elevation="1">
            		<my-rooster username="[[username]]" rol="[[rol]]"></my-rooster>
            	</paper-meterial>
            </section>

            <section data-route="toonvakken">
              <paper-material elevation="1">
                <my-vakken rol="[[rol]]" username="[[username]]"></my-vakken>
              </paper-material>
            </section>
			
			<section data-route="statistieken">
				<paper-material elevation="1">
					<my-statistieken></my-statistieken>
				</paper-material>
			</section>
             <section data-route="presentie">
              <paper-material elevation="1">
                <my-presentie rol="[[rol]]" username="[[username]]"></my-presentie>
              </paper-material>
            </section>

            <section data-route="toonmedestudenten">
              <paper-material elevation="1">
                <my-medestudenten rol="[[rol]]" username="[[username]]"></my-medestudenten>
              </paper-material>
            </section>
            
            <section data-route="toonabsenties">
              <paper-material elevation="1">
                <my-absenties username="[[username]]" rol="[[rol]]"></my-absenties>
              </paper-material>
            </section>

             <section data-route="afmelden">
              <paper-material elevation="1">
                <my-afmelding username="[[username]]"></my-afmelding>
              </paper-material>
            </section>

            <section data-route="beter-melden">
              <paper-material elevation="1">
                <my-beter-melding rol="[[rol]]" username="[[username]]"></my-beter-melding>
              </paper-material>
            </section>

             <section data-route="user-presentie">
              <paper-material elevation="1">
                <my-presentie-aanpassen rol="[[rol]]" student="{{params.user}}"></my-presentie-aanpassen>
<!--                 <h2 class="page-title">User: {{params.user}}</h2>
                <div>This is {{params.user}}'s section</div> -->
              </paper-material>
            </section>

            <section data-route="user-info">
              <paper-material elevation="1">
                <h2 class="page-title">User: {{params.name}}</h2>
                <div>This is {{params.name}}'s section</div>
              </paper-material>
            </section>
            
            <section data-route="vak-info">
              <paper-material elevation="1">
                <my-vak-info vak="{{params.name}}" username="[[username]]"></my-vak-info>
              </paper-material>
            </section>

          </iron-pages>
        </div>
      </paper-scroll-header-panel>
    </paper-drawer-panel>

    <paper-toast id="toast">
      <span class="toast-hide-button" role="button" tabindex="0" onclick="app.$.toast.hide()">Ok</span>
    </paper-toast>

  </template>

  <!-- build:js scripts/app.js -->
  <script src="scripts/app.js"></script>
  <!-- endbuild-->
</body>

</html>
