<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">

<dom-module id="my-afmelding">
  <template>
    <style>
      :host {
        display: block;
      }

      span {
        @apply(--paper-font-body1);
      }
      paper-input {
        max-width: 200px;
      }
      .yellow-button {
        text-transform: none;
        color: #eeff41;
      }
    </style>
    <paper-toast id="toast5" duration="0" text="De afmelding is toegevoegd!">
      <paper-button onclick="toast5.toggle()" class="yellow-button">Sluiten</paper-button>
    </paper-toast>

    <paper-toast id="toast_error" duration="0" text="Een is een onbekende fout opgetreden, probeer het later opnieuw!">
      <paper-button onclick="toast_error.toggle()" class="yellow-button">Sluiten</paper-button>
    </paper-toast>

    <paper-toast id="toast1" duration="0" text="Je hebt niet alle velden ingevuld!">
      <paper-button onclick="toast1.toggle()" class="yellow-button">Sluiten</paper-button>
    </paper-toast>

     <paper-toast id="toast2" duration="0" text="De startdatum mag niet in het verleden liggen!">
      <paper-button onclick="toast2.toggle()" class="yellow-button">Sluiten</paper-button>
    </paper-toast>

    <paper-toast id="toast3" duration="0" text="De einddatum mag niet voor de startdatum liggen!">
      <paper-button onclick="toast3.toggle()" class="yellow-button">Sluiten</paper-button>
    </paper-toast>

    <paper-toast id="toast4" duration="0" text="Deze afwezigheid bestaat al of je bent al ziek gemeld!">
      <paper-button onclick="toast4.toggle()" class="yellow-button">Sluiten</paper-button>
    </paper-toast>

  
    <div >
    <h1>student: {{username}}</h1>
        <paper-checkbox name="remoteLocation" id="remote-chk" on-click="showMe">Ziek?</paper-checkbox>
        <paper-input label="Start datum" width="200" type="date" value="{{startDatum}}"></paper-input>
        <paper-input label="Eind datum" width="200" type="date"  value="{{eindDatum}}" hidden$="{{hide}}"></paper-input>
        <paper-textarea label="Reden" value="{{reden}}" hidden$="{{hide}}"></paper-textarea>
  			<paper-button on-click="afmeldHandler">Afmelden</paper-button>
  	</div>

  	<iron-ajax
      id="ajax"
      method="POST"
  		url="/student/afmelden"
      handle-as="json"
  		on-response="handleAfmeld">
    </iron-ajax>

  </template>

  <script>
    (function() {
      'use strict';
      Polymer({
        is: 'my-afmelding',

        properties: {
          username: String,
          startDatum: {
            type: Date,
            notify: true,
            value: "1970-01-01",
            observer: 'initFields'
          },
          eindDatum: {
            type: Date,
            notify: true
          },
          reden: {
            type: String,
            notify: true
          }
        },
        ready: function() {
          this.initFields();
        },
        showMe: function() {
            this.hide = !this.hide;
            console.log(this.hide);
            if(this.hide == true){
              this.eindDatum = "onbekend";
              this.reden = "ziek";
            }else{
              this.reden = null;
            }
        },

        afmeldHandler: function() {
          if(this.checkFields(this.startDatum, this.eindDatum, this.reden) == true){
            this.$.ajax.contentType="application/json";
            this.$.ajax.body={
              "username":this.username, 
              "startdate":this.startDatum,
              "enddate":this.eindDatum,
              "reason":this.reden
            };
            console.log("STARTDATUM user="+this.$.ajax.body);
            this.$.ajax.generateRequest();
          }
        },

        handleAfmeld: function(request) {
          this.success = request.detail.response.success;
          console.log("success="+this.success);
          if(this.success == 3){
             this.$.ajax.body = null;
             toast5.open();
             this.initFields();
          }else if(this.success == 2){
             toast4.open();
          }else{
            toast_fail.open();
          }
          
        },
        initFields: function(){
          
          var now = new Date();
          var day = ("0" + now.getDate()).slice(-2);
          var month = ("0" + (now.getMonth() + 1)).slice(-2);

          var today = now.getFullYear()+"-"+(month)+"-"+(day) ;
          
          this.startDatum = today;
        },
        convertDate: function(date){
          var day = ("0" + date.getDate()).slice(-2);
          var month = ("0" + (date.getMonth() + 1)).slice(-2);

          var today = date.getFullYear()+"-"+(month)+"-"+(day) ;
          return today;
        },
        checkFields: function(startDatum, eindDatum, reden){
          var today = this.convertDate(new Date());

          var start = this.convertDate(new Date(startDatum));
          var eind = this.convertDate(new Date(eindDatum));

          if(startDatum == null || eindDatum == null || eindDatum == "onbekend" || reden == null){
            toast1.open();
            return false;
          }else if(today > start){
            console.log(today+" TODAY");
            console.log(start+" START");
            toast2.open();
            return false;
          }else if(start >= eind && this.hide == false){
            toast3.open();
            return false;
          }else{
            return true;
          }
        }
      });
    })();
  </script>
</dom-module>
