<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="my-vak-info">
	<template>
		<iron-ajax
	      id="ajax"
	      method="POST"
	  		url="/docent/studentpervak"
	      handle-as="json"
	  		on-response="responseHandler">
	    </iron-ajax>
	    <paper-button on-click="laadKlassenlijst">Laad Klassenlijst</paper-button>
		<h1>Studenten waaraan ik {{vak}} geef:</h1>
	    <table id="table">
	    </table>
	</template>
	<script>
   	Polymer({
   		is: "my-vak-info",
   		properties: {
   			vak: String,
   			username: String
   		},
   		responseHandler: function(request){
   			var response = request.detail.response;
   			var table = document.getElementById("table");
   			table.innerHTML= "";
   			var header = table.createTHead();
   		    var row = header.insertRow(0);
   		 	var student = row.insertCell().innerHTML = "<b>Student Naam</b>";
   			for(var x in response){
   				for(var i in response[x]){
   					var stu = table.insertRow().insertCell().innerHTML = response[x][i];
   				}
   			}
   		},
   		laadKlassenlijst: function(){
   			this.$.ajax.contentType="application/json";
            this.$.ajax.body={
              "username":this.username,
              "vak":this.vak
            };
            this.$.ajax.generateRequest();
   		}
   	});
   	</script>
</dom-module>
