<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<dom-module id="my-absenties">
<template>
  <style>
   :host {
        display: block;
      }

      span {
        @apply(--paper-font-body1);
      }
  </style>
  <h1 class="page-title">Overzicht van mijn absenties ( {{username}} )</h1>
  <iron-ajax
        id="ajax"
        method="POST"
        url="/student/mijnAbsenties"
        handle-as="json"
        on-response="responseHandler">
      </iron-ajax>
       <paper-dropdown-menu label="Vak" on-iron-select="_itemSelected">
       <paper-menu class="dropdown-content">
      <template is="dom-repeat" items="{{vakken}}">
      <template is="dom-if" if="{{show(item.vakcode)}}">
         <paper-item>{{item.vakcode}}</paper-item>
      </template>
      </template>
         </paper-menu>
          </paper-dropdown-menu>
        <template is="dom-repeat" items="{{vakken}}">
         <p>{{item.afwezigheid}}</p>
      </template>
</template>


<script>
  Polymer({
    is: "my-absenties",
    properties: {
     username: String,
      selected: String,
      vak:{
      	value: "",
      	type: String
      },
      rol: {
        observer: 'fetchPresentie'
      }

    }, 
     _itemSelected : function(e) {
    var selectedItem = e.target.selectedItem;
    if (selectedItem) {
      this.selected = selectedItem.innerText;
    }
    this.vak = this.selected;
    this.fetchPresentie();
  },
    responseHandler: function(request) {
      this.vakken = request.detail.response;
      console.log(this.vakken+"test");
    },
    show: function (vakcode) {
   	 return vakcode != null;
	},

    fetchPresentie: function() {
      if (this.rol == "student") {
        this.$.ajax.contentType="application/json";
        this.$.ajax.body={
          "username":this.username, 
          "vak":this.vak
        };
        this.$.ajax.generateRequest();
      }
    }
    
  });
</script>


</dom-module>